<div class="margenTop">
<h3>PARÁMETRO EVALUACIÓN</h3>
<div ng-controller="ListControllerParametroEvaluacion as list">
      
 <my-modalparametroevaluacion></my-modalparametroevaluacion> 
  
    <div id="custom-toolbarparametroevaluacion">
     <div class="form-inline" role="form">    
        <a ng-click="list.btnNovoClick()" target="_self" class="btn btn-default btn-primary btn-sm"><span class="glyphicon glyphicon-plus"></span> Nuevo</a>
     </div>
    </div>
   <table  id="tableparametroevaluacion" init-tablaparametroevaluacion="options">
   </table>

 </div>
</div>